@model PROCAS2.Models.ViewModels.ParticipantEditViewModel

@using PROCAS2.Resources;
@using PROCAS2.Data.Entities;


@{
    ViewBag.Title = "Participant Edit";
}

<script src="~/js/participantEdit.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-10">
        <h4>@ParticipantResources.DETAILS - @Model.NHSNumber (@Model.StudyNumber.ToString().PadLeft(5, '0'))</h4>
       
    </div>
    
    <div class="col-md-2">
        @using (Ajax.BeginForm("Delete", "Participant", new { id = Model.NHSNumber }, new AjaxOptions { HttpMethod = "POST", OnSuccess="onDeleteSuccess" }, new { id="frmDelete"}))
        {
            @Html.AntiForgeryToken()
            <button type="button" id="btnDelete" class="btn btn-danger pull-right" >
                @ParticipantResources.DELETE
            </button>

        }

    </div>

</div>





<hr />

@using (Html.BeginForm("Edit", "Participant", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.NHSNumber)
    @Html.HiddenFor(model => model.StudyNumber)
    @Html.HiddenFor(model => model.Reason)
    @Html.ValidationSummary()
    <div class="form-horizontal">
        
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.ScreeningSite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ScreeningSite, new SelectList(Model.ScreeningSites, "Code", "Name"), new { @class = "form-control" })

            </div>



            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.ScreeningNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @if (Model.UseScreeningNumber == true)
                {
                    @Html.EditorFor(model => model.ScreeningNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                }
                else
                {

                    @Html.EditorFor(model => model.ScreeningNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ScreeningNumber, "", new { @class = "text-danger" })

                }
            </div>

                   




            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>





            @Html.LabelFor(model => model.HomeAddress1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.HomeAddress1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress1, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DOB, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-offset-2 col-md-6">
                @Html.EditorFor(model => model.HomeAddress2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress2, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.DOFA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DOFA, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DOFA, "", new { @class = "text-danger" })
            </div>



            <div class="col-md-offset-2  col-md-6">
                @Html.EditorFor(model => model.HomeAddress3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress3, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DOAA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DOAA, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DOAA, "", new { @class = "text-danger" })
            </div>




            <div class="col-md-offset-2  col-md-6">
                @Html.EditorFor(model => model.HomeAddress4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress4, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.DateConsented, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DateConsented, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DateConsented, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.HomePostCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.HomePostCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomePostCode, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.BMI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.BMI, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.BMI, "", new { @class = "text-danger" })
            </div>



            @Html.LabelFor(model => model.HomeEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeEmail, "", new { @class = "text-danger" })
            </div>
        </div>

      

        <div class="form-group editSection">

            <div class="col-md-12"><span class="editSectionHeader">@ParticipantResources.COLLATOR_STATUS</span></div>

            @Html.LabelFor(model => model.AskForRiskLetter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.AskForRiskLetter)

            </div>

            @Html.LabelFor(model => model.SentRisk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.SentRisk)

            </div>


            @Html.LabelFor(model => model.MailingList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.MailingList)

            </div>

            
            <div class="col-md-3">
                &nbsp;
            </div>
          
          
        </div>

     

        <div class="form-group  editSection">

            <div class="col-md-12"><span class="editSectionHeader">@ParticipantResources.STUDY_STATUS</span></div>

            @Html.LabelFor(model => model.Consented, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Consented)

            </div>

            @Html.LabelFor(model => model.AttendedScreening, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.AttendedScreening)

            </div>



            @Html.LabelFor(model => model.Withdrawn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Withdrawn)

            </div>

            @Html.LabelFor(model => model.Deceased, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Deceased)

            </div>






        </div>

        <div class="form-group  editSection">

            <div class="col-md-12"><span class="editSectionHeader">@ParticipantResources.SCREENING_OUTCOMES</span></div>

            @Html.LabelFor(model => model.InitialScreeningOutcomeId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.InitialScreeningOutcomeId, new SelectList(Model.InitialScreeningOutcome, "Id", "LookupDescription"), "Please select", new { @class = "form-control" })

            </div>


            @Html.LabelFor(model => model.FinalTechnicalOutcomeId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.FinalTechnicalOutcomeId, new SelectList(Model.FinalTechnicalScreeningOutcome, "Id", "LookupDescription"), "Please select", new { @class = "form-control" })

            </div>

            <div class="col-md-6">
                &nbsp;
            </div>


            @Html.LabelFor(model => model.FinalAssessmentOutcomeId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.FinalAssessmentOutcomeId, new SelectList(Model.FinalAssessmentScreeningOutcome, "Id", "LookupDescription"), "Please select", new { @class = "form-control" })

            </div>

            

           


        </div>

        <div class="form-group  editSection">

            <div class="col-md-12"><span class="editSectionHeader">@ParticipantResources.CHEMOPREVENTION</span></div>

            @Html.LabelFor(model => model.Chemo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Chemo)

            </div>


            @Html.LabelFor(model => model.ChemoAgreedInClinic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.ChemoAgreedInClinic)

            </div>


            @Html.LabelFor(model => model.ChemoPreventionDetailsId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ChemoPreventionDetailsId, new SelectList(Model.ChemoPreventionDetails, "Id", "LookupDescription"), "Please select", new { @class = "form-control" })

            </div>
            

         

            <div class="col-md-4">
                &nbsp;
            </div>


        </div>


        <div class="form-group  editSection">

            <div class="col-md-12"><span class="editSectionHeader">@ParticipantResources.POST_STUDY</span></div>

            @Html.LabelFor(model => model.Diagnosed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Diagnosed)

            </div>


            @Html.LabelFor(model => model.FHCReferral, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.FHCReferral)

            </div>

            @Html.LabelFor(model => model.MoreFrequentScreening, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.MoreFrequentScreening)

            </div>

        

            <div class="col-md-4">
                &nbsp;
            </div>

        </div>


        <div class="form-group  editSection">

            <div class="col-md-12"><span class="editSectionHeader">@ParticipantResources.RISK_CONSULTATION</span></div>

            <div class="row">
                @Html.LabelFor(model => model.RiskConsultationEligible, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-1">
                    @Html.EditorFor(model => model.RiskConsultationEligible)

                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>

                @Html.LabelFor(model => model.RiskConsultationBooked, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-1">
                    @Html.EditorFor(model => model.RiskConsultationBooked)

                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>


                @Html.LabelFor(model => model.RiskConsultationCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-1">
                    @Html.EditorFor(model => model.RiskConsultationCompleted)

                </div>

                <div class="col-md-1">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.RiskConsultationTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.RiskConsultationTypeId, new SelectList(Model.RiskConsultationTypes, "Id", "LookupDescription"), "Please select", new { @class = "form-control" })

                </div>

                @Html.LabelFor(model => model.RiskConsultationLetterSent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-1">
                    @Html.EditorFor(model => model.RiskConsultationLetterSent)

                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>

                @Html.LabelFor(model => model.RiskConsultationComments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.RiskConsultationComments, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            </div>


            </div>
       
        <div class="form-group editSection">

            <div class="col-md-12"><span class="editSectionHeader">@ParticipantResources.GP_DETAILS</span></div>

                @Html.LabelFor(model => model.GPName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GPName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPName, "", new { @class = "text-danger" })
                </div>
           

          
                @Html.LabelFor(model => model.GPAddress1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GPAddress1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPAddress1, "", new { @class = "text-danger" })
                </div>
         

           
                <div class="col-md-10 col-md-offset-2">
                    @Html.EditorFor(model => model.GPAddress2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPAddress2, "", new { @class = "text-danger" })
                </div>
            

           
                <div class="col-md-10 col-md-offset-2">
                    @Html.EditorFor(model => model.GPAddress3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPAddress3, "", new { @class = "text-danger" })
                </div>
           

          
                <div class="col-md-10 col-md-offset-2">
                    @Html.EditorFor(model => model.GPAddress4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPAddress4, "", new { @class = "text-danger" })
                </div>
            

           
                @Html.LabelFor(model => model.GPPostCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GPPostCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPPostCode, "", new { @class = "text-danger" })
                </div>
          

           
                @Html.LabelFor(model => model.GPEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GPEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPEmail, "", new { @class = "text-danger" })
                </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Save" id="btnSave" class="btn btn-primary" />
            </div>
        </div>
</div>
}


        <p>

            @Html.ActionLink("Back to List", "Index")
        </p>
