@model PROCAS2.Models.ViewModels.ParticipantEditViewModel

@using PROCAS2.Resources;
@using PROCAS2.Data.Entities;


@{
    ViewBag.Title = "Participant Edit";
}

<script src="~/js/participantEdit.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-10">
        <h4>@ParticipantResources.DETAILS - @Model.NHSNumber</h4>
       
    </div>
    
    <div class="col-md-2">
        @using (Ajax.BeginForm("Delete", "Participant", new { id = Model.NHSNumber }, new AjaxOptions { HttpMethod = "POST", OnSuccess="onDeleteSuccess" }, new { id="frmDelete"}))
        {
            @Html.AntiForgeryToken()
            <button type="button" id="btnDelete" class="btn btn-danger pull-right" >
                @ParticipantResources.DELETE
            </button>

        }

    </div>

</div>





<hr />

@using (Html.BeginForm("Edit", "Participant", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.NHSNumber)
    @Html.HiddenFor(model => model.Reason)
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <div class="form-group">

            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.ScreeningSite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ScreeningSite, new SelectList(Model.ScreeningSites, "Code", "Name"), new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.ScreeningNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ScreeningNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ScreeningNumber, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">



            @Html.LabelFor(model => model.HomeAddress1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.HomeAddress1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress1, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DOB, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">



            <div class="col-md-offset-2 col-md-6">
                @Html.EditorFor(model => model.HomeAddress2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress2, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.DOFA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DOFA, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DOFA, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">

            <div class="col-md-offset-2  col-md-6">
                @Html.EditorFor(model => model.HomeAddress3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress3, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DOAA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DOAA, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DOAA, "", new { @class = "text-danger" })
            </div>


        </div>
        <div class="form-group">

            <div class="col-md-offset-2  col-md-6">
                @Html.EditorFor(model => model.HomeAddress4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAddress4, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.BMI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.BMI, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.BMI, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.HomePostCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePostCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomePostCode, "", new { @class = "text-danger" })
            </div>



        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.HomeEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class-"row">&nbsp</div>

        <div class="form-group">

            @Html.LabelFor(model => model.Consented, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Consented, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            @Html.LabelFor(model => model.SentRisk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.SentRisk, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            @Html.LabelFor(model => model.Deceased, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Deceased, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            @Html.LabelFor(model => model.Withdrawn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Withdrawn, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class-"row">&nbsp</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagnosed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Diagnosed, new { htmlAttributes = new { @class = "form-control" } })

            </div>


            @Html.LabelFor(model => model.FHCReferral, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.FHCReferral, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            @Html.LabelFor(model => model.Chemo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Chemo, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            @Html.LabelFor(model => model.MailingList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.MailingList, new { htmlAttributes = new { @class = "form-control" } })

            </div>


        </div>

        <div class-"row">&nbsp</div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttendedScreening, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.AttendedScreening, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            <div class="col-md-9">
                &nbsp;
            </div>
           

        </div>

        <div class-"row">&nbsp</div>


        <div class="form-group">

            @Html.LabelFor(model => model.GPName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GPName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GPAddress1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GPAddress1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPAddress1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.EditorFor(model => model.GPAddress2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPAddress2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.EditorFor(model => model.GPAddress3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPAddress3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.EditorFor(model => model.GPAddress4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPAddress4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GPPostCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GPPostCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPPostCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GPEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GPEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPEmail, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Save" id="btnSave" class="btn btn-primary" />
            </div>
        </div>
</div>
}


        <p>

            @Html.ActionLink("Back to List", "Index")
        </p>
