@model PROCAS2.Models.ViewModels.UploadUpdateParticipantsViewModel
@using PROCAS2.CustomHtmlHelpers

@{
    ViewBag.Title = "Update Participants";
}

<script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Scripts/spin.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.spin.js")"></script>
<script src="@Url.Content("~/js/uploadUpdateParticipant.js")"></script>

<div class="row">
    <div class="col-md-12">

        <h3>Upload Full Participant Details</h3>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Please upload a CSV file with 21 columns in the format below. Please do not include column headers.
        </p>
    </div>
</div>

<div class="row">


    @using (Html.BeginForm("UploadUpdate", "Participant", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UploadedFile, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.FileUpload("UploadedFile")

                    @Html.ValidationMessageFor(model => model.UploadedFile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input id="btnUpload" type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>

        </div>
    }

</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Column
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Length/Type
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr><td>A</td><td>NHS Number</td><td>Max 12 characters</td><td>Mandatory</td></tr>
                <tr><td>B</td><td>Screening Number</td><td>Max 20 characters</td><td>Mandatory</td></tr>
                <tr><td>C</td><td>Date Of Birth</td><td>Date in dd/mm/yyyy format</td><td>Mandatory</td></tr>
                <tr><td>D</td><td>Date Of First Appointment</td><td>Date in dd/mm/yyyy format</td><td>Mandatory</td></tr>
                <tr><td>E</td><td>Title</td><td>Max 50 characters</td><td>Optional</td></tr>
                <tr><td>F</td><td>First Name</td><td>Max 50 characters</td><td>Mandatory</td></tr>
                <tr><td>G</td><td>Last Name</td><td>Max 50 characters</td><td>Mandatory</td></tr>
                <tr><td>H</td><td>Address Line 1</td><td>Max 200 characters</td><td>Mandatory</td></tr>
                <tr><td>I</td><td>Address Line 2</td><td>Max 200 characters</td><td>Optional</td></tr>
                <tr><td>J</td><td>Address Line 3</td><td>Max 200 characters</td><td>Optional</td></tr>
                <tr><td>K</td><td>Address Line 4</td><td>Max 200 characters</td><td>Optional</td></tr>
                <tr><td>L</td><td>Post Code</td><td>Max 10 characters</td><td>Mandatory</td></tr>
                <tr><td>M</td><td>GP Name</td><td>Max 200 characters</td><td>Mandatory</td></tr>
                <tr><td>N</td><td>GP Address Line 1</td><td>Max 200 characters</td><td>Mandatory</td></tr>
                <tr><td>O</td><td>GP Address Line 2</td><td>Max 200 characters</td><td>Optional</td></tr>
                <tr><td>P</td><td>GP Address Line 3</td><td>Max 200 characters</td><td>Optional</td></tr>
                <tr><td>Q</td><td>GP Address Line 4</td><td>Max 200 characters</td><td>Optional</td></tr>
                <tr><td>R</td><td>GP Post Code</td><td>Max 10 characters</td><td>Mandatory</td></tr>
                <tr><td>S</td><td>GP Email Address</td><td>Max 200 characters</td><td>Optional</td></tr>
                <tr><td>T</td><td>Screening Site</td><td>Max 10 characters, must match a Collator site code</td><td>Mandatory</td></tr>
                <tr><td>U</td><td>End of Record</td><td>3 letter string - 'END'</td><td>Mandatory, the ensure correct number of columns per line</td></tr>
            </tbody>
        </table>
    </div>
</div>

<div id="exportElement" class="spinnerElement">

    <div id="exportSection" class="spinnerSection">Uploading Data</div>
</div>

