@model PROCAS2.Models.ViewModels.SiteEditViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Site Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>

        <dt>
            &nbsp;
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoHeaderRight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoHeaderRight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoHeaderRightHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoHeaderRightHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoHeaderRightWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoHeaderRightWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoFooterRight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoFooterRight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoFooterRightHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoFooterRightHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoFooterRightWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoFooterRightWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoFooterLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoFooterLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoFooterLeftHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoFooterLeftHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoFooterLeftWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoFooterLeftWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetterFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetterFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrustCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrustCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyHistoryClinic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyHistoryClinic)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
