@model PROCAS2.Models.ViewModels.SiteListViewModel

@using PROCAS2.Resources

@{
    ViewBag.Title = "Sites";
}

<script src="~/js/siteList.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-9">

        <h3>@SiteResources.SITE_TITLE</h3>

    </div>

    
    <div class="col-md-3">
        @Html.ActionLink("Add", "Create", new { }, new { @class = "btn btn-default pull-right" })
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.ScreeningSites.Count > 0)
        {
            <table id="tblSites" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @SiteResources.SITE_CODE
                        </th>

                        <th>
                            @SiteResources.SITE_NAME
                        </th>
                        <th>
                            @SiteResources.NUM_OF_PARTICIPANTS
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ScreeningSites)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Model.SiteNumbers.Where(x => x.SiteCode == item.Code).Select(x => x.NumberOfParticipants).FirstOrDefault()
                            </td>
                            <td class="actionList">

                                @if (Model.SiteNumbers.Where(x => x.SiteCode == item.Code).Select(x => x.NumberOfParticipants).FirstOrDefault() == 0)
                                {
                                    using (Ajax.BeginForm("Delete", "Site", new { code = item.Code }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onDeleteSuccess" }, new { id = String.Concat("frmDelete", item.Code) }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="button" class="btn btn-danger pull-right site-delete">
                                            @SiteResources.DELETE
                                        </button>

                                    }

                                }
                                @Html.ActionLink("View", "Details", new { code = item.Code }, new { @class = "btn btn-default pull-right" })

                                @Html.ActionLink("Edit", "Edit", new { code = item.Code }, new { @class = "btn btn-default pull-right" })


                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <span>There are currently no sites.</span>
        }
    </div>
</div>

