

@model PROCAS2.Models.ViewModels.ScreenV1_5_4DetailsViewModel

@using PROCAS2.Resources

@{
    ViewBag.Title = "Volpara Information";
}


<script src="~/js/volparaResultsView.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-9">

        <h3>Volpara Results - @Model.NHSNumber</h3>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.ScreeningRecords.Count == 0)
        {
            <span>@ParticipantResources.NO_VOLPARA_RECORDS</span>

        }
        else
        {
            <table id="tblVolpara" class="table nowrap compact">
                <thead>
                    <tr>
                        <th>
                            Field Name
                        </th>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            if (Model.ScreeningRecords[index].VolparaDensity != null && Model.ScreeningRecords[index].Image != null && Model.ScreeningRecords[index].Image.OrigName != null)
                            {
                                <th class="volparaCol">
                                    Image ID: @Model.ScreeningRecords[index].Image.OrigName <br />
                                    Date: @Model.ScreeningRecords[index].DataDate.ToString("dd/MM/yyyy")<br />
                                    @if (Model.ScreeningRecords[index].VolparaDensity.DensityImagesUsedForLccLmloRccRmlo != null && Model.ScreeningRecords[index].VolparaDensity.DensityImagesUsedForLccLmloRccRmlo.Contains(Model.ScreeningRecords[index].Image.OrigName))
                                    {
                                        <span class="volparaUsed">Used in Calculation</span> <br />
                                    }
                                    else if (Model.ScreeningRecords[index].VolparaDensity.DensityOutliers != null && Model.ScreeningRecords[index].VolparaDensity.DensityOutliers.Contains(Model.ScreeningRecords[index].Image.OrigName))
                                    {
                                        <span class="volparaNotUsed">Outlier</span> <br />
                                    }
                                    else
                                    {
                                        <span>Not Used</span> <br />
                                    }
                                    @Html.ActionLink("Density", "Density", new { id = Model.ScreeningRecords[index].VolparaDensity.Id }, new { @class = "btn btn-default density-button" })
                                </th>
                            }
                            else
                            {
                                <th class="volparaCol"></th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>



                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DataDate)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DataDate)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MammoImageType)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MammoImageType)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].RequestedProcedure)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].RequestedProcedure)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Timestamp)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Timestamp)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].OSName)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].OSName)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].OSVersion)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].OSVersion)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].CurrentCulture)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].CurrentCulture)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].InstalledUICulture)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].InstalledUICulture)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].WriteOutDisplayImage)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].WriteOutDisplayImage)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].VolparaVersion)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].VolparaVersion)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DICOMTAGManufacturer)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DICOMTAGManufacturer)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DICOMTAGDeviceSerialNumber)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DICOMTAGDeviceSerialNumber)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DICOMTagDetector_ID)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DICOMTagDetector_ID)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaxAllowedKVP)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaxAllowedKVP)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BTSF)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BTSF)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BTSTF)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BTSTF)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DetectorType)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DetectorType)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DoFlatFieldCorrection)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DoFlatFieldCorrection)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].FSensitivity)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].FSensitivity)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Gain)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Gain)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NativePixelSize)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NativePixelSize)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Offset)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Offset)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ScalePixelSize)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ScalePixelSize)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SourceToDetector)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SourceToDetector)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SupportToDetector)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SupportToDetector)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].TubeType)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].TubeType)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].UseNewSlantAlgorithm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].UseNewSlantAlgorithm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ValidToProcess)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ValidToProcess)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BreastSide)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BreastSide)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ChestPosition)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ChestPosition)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PectoralPosition)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PectoralPosition)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MammoView)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MammoView)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].StudyDate)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].StudyDate)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].OperatorName)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].OperatorName)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PatientDOB)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PatientDOB)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PatientAge)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PatientAge)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PatientID)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PatientID)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DetectorID)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DetectorID)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].XraySystem)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].XraySystem)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].TargetPixelSizeMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].TargetPixelSizeMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NearestNeighborResample)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NearestNeighborResample)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ResizedPixelSizeMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ResizedPixelSizeMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PectoralSide)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PectoralSide)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PaddleType)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PaddleType)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ExposureMas)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ExposureMas)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ExposureTimeMs)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ExposureTimeMs)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].TargetMaterial)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].TargetMaterial)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].FilterMaterial)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].FilterMaterial)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].FilterThicknessMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].FilterThicknessMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].TubeVoltageKvp)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].TubeVoltageKvp)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].CompressionPlateSlant)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].CompressionPlateSlant)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].HVL_Mm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].HVL_Mm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].CompressionForceN)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].CompressionForceN)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].RecordedBreastThicknessMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].RecordedBreastThicknessMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].InnerBreastStatistics)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].InnerBreastStatistics)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].muFatPerMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].muFatPerMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MethodAllPlaneFit)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MethodAllPlaneFit)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].RejectingMethod1Reason)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].RejectingMethod1Reason)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MethodFatPlaneFit)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MethodFatPlaneFit)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Calculated_Sigma)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Calculated_Sigma)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ComputedSlantAngle)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ComputedSlantAngle)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ComputedSlantMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ComputedSlantMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ComputedBreastThickness)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ComputedBreastThickness)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ScatterScaleFactor)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ScatterScaleFactor)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Scatter)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Scatter)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhaseDE)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhaseDE)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhaseOD)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhaseOD)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhaseBE)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhaseBE)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhasePA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhasePA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhaseBA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhaseBA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhaseOA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhaseOA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhaseUA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhaseUA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegPhasePD)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegPhasePD)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSphereDE)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSphereDE)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSphereOD)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSphereOD)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSphereBE)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSphereBE)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSpherePA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSpherePA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSphereBA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSphereBA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSphereOA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSphereOA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSphereUA)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSphereUA)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SegSpherePD)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SegSpherePD)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ContactAreaMm2)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ContactAreaMm2)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].CompressionPressureKPa)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].CompressionPressureKPa)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PFAT_Edge_Zone)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PFAT_Edge_Zone)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].HintRejectLevel)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].HintRejectLevel)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].HintIgnoreLevel)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].HintIgnoreLevel)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].EntranceDoseInmGy)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].EntranceDoseInmGy)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].EstimatedEntranceDoseInmGy)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].EstimatedEntranceDoseInmGy)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Warning)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Warning)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].GlandularityPercent)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].GlandularityPercent)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].VolparaMeanGlandularDoseInmGy)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].VolparaMeanGlandularDoseInmGy)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].FiftyPercentGlandularDoseInmGy)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].FiftyPercentGlandularDoseInmGy)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].OrganDose)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].OrganDose)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].OrganDoseInmGy)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].OrganDoseInmGy)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].CorrectionComplete)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].CorrectionComplete)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleConfidence)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleConfidence)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleConfidenceMessage)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleConfidenceMessage)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleInProfile)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleInProfile)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleDistanceFromPosteriorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleDistanceFromPosteriorEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleCenterDistanceFromPosteriorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleCenterDistanceFromPosteriorEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MeanDenseThicknessInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MeanDenseThicknessInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDenseThicknessInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDenseThicknessInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SDDenseThicknessInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SDDenseThicknessInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDenseThicknessDistanceFromPosteriorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDenseThicknessDistanceFromPosteriorEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DensityMapAttenuatingPixelCount)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DensityMapAttenuatingPixelCount)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumPercentDensityIn1Cm2Area)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumPercentDensityIn1Cm2Area)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDenseVolumeIn1Cm2AreaInCm3)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDenseVolumeIn1Cm2AreaInCm3)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDensity1Cm2AreaDistanceFromPosteriorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDensity1Cm2AreaDistanceFromPosteriorEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].DenseAreaPercent)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].DenseAreaPercent)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].AreaGreaterThan10mmDenseMm2)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].AreaGreaterThan10mmDenseMm2)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].HintVolumeCm3)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].HintVolumeCm3)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BreastVolumeCm3)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BreastVolumeCm3)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].VolumetricBreastDensity)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].VolumetricBreastDensity)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Out_BreastVolume)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Out_BreastVolume)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Out_FGTV)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Out_FGTV)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Out_Density)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Out_Density)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].Run_Information)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].Run_Information)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].VolparaOkay)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].VolparaOkay)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MedialSide)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MedialSide)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleDistanceFromMedialEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleDistanceFromMedialEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleCenterDistanceFromMedialEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleCenterDistanceFromMedialEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].CCPosteriorNippleLineLengthInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].CCPosteriorNippleLineLengthInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleMedialLateralDistanceInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleMedialLateralDistanceInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleMedialLateralAngleInDegrees)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleMedialLateralAngleInDegrees)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BreastCenterToImageCenterDistanceInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BreastCenterToImageCenterDistanceInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BreastCenterDistanceFromMedialEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BreastCenterDistanceFromMedialEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BreastEdgeDistanceToPosteriorMedialCornerInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BreastEdgeDistanceToPosteriorMedialCornerInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].BreastEdgeDistanceToPosteriorLateralCornerInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].BreastEdgeDistanceToPosteriorLateralCornerInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].CleavageDetected)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].CleavageDetected)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ShoulderDetected)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ShoulderDetected)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDenseThicknessDistanceFromMedialEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDenseThicknessDistanceFromMedialEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDensity1Cm2AreaDistanceFromMedialEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDensity1Cm2AreaDistanceFromMedialEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PectoralAngleDegrees)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PectoralAngleDegrees)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PectoralAngleConfidence)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PectoralAngleConfidence)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleDistanceFromSuperiorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleDistanceFromSuperiorEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleCenterDistanceFromSuperiorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleCenterDistanceFromSuperiorEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MLOPosteriorNippleLineLengthInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MLOPosteriorNippleLineLengthInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleLineLengthInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleLineLengthInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PNLToInferiorPectoralMuscleVerticalLengthInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PNLToInferiorPectoralMuscleVerticalLengthInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PectoralSkinFoldPresent)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PectoralSkinFoldPresent)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].NippleToInferiorPectoralMuscleVerticalLengthInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].NippleToInferiorPectoralMuscleVerticalLengthInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].SuperiorPectoralWidthInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].SuperiorPectoralWidthInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PosteriorPectoralLengthInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PosteriorPectoralLengthInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].PectoralShape)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].PectoralShape)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ImfMaxDistanceMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ImfMaxDistanceMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].InframammaryFoldVisible)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].InframammaryFoldVisible)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].InframammaryFoldAreaInMm2)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].InframammaryFoldAreaInMm2)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ImfAngleInDegrees)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ImfAngleInDegrees)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].ImfSkinFoldPresent)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].ImfSkinFoldPresent)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDenseThicknessDistanceFromSuperiorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDenseThicknessDistanceFromSuperiorEdgeInMm)
                            </td>
                        }
                    </tr>





                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ScreeningRecords[0].MaximumDensity1Cm2AreaDistanceFromSuperiorEdgeInMm)
                        </td>
                        @for (int index = 0; index < Model.ScreeningRecords.Count; index++)
                        {
                            <td class="volparaCol">
                                @Html.DisplayFor(model => model.ScreeningRecords[index].MaximumDensity1Cm2AreaDistanceFromSuperiorEdgeInMm)
                            </td>
                        }
                    </tr>








                </tbody>
            </table>
        }
    </div>
</div>
