@model PROCAS2.Models.ViewModels.ExportResultsViewModel

@using PROCAS2.Models.ViewModels;
@using PROCAS2.Resources;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export Results</title>

    

</head>
<body>
    @for (int index = 0; index < Model.Letters.Count; index++)

    {


        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
            </tr>
            <tr>
                <td><p>@ExportResources.REF @Model.Letters[index].NHSNumber/@Model.Letters[index].StudyNumber</p></td>
                <td><p>&nbsp;</p></td>
            </tr>
            <tr>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
            </tr>

            <tr height="0" padding="0" margin-bottom="0">
                <td><p><b>@Model.Letters[index].Name</b></p></td>
                <td align="right"><p><b>@Model.Letters[index].FromAddressLine1</b></p></td>
            </tr>
            <tr>
                <td><p><b>@Model.Letters[index].AddressLine1</b></p></td>
                <td align="right"><p><b>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].FromAddressLine2)</b></p></td>

            </tr>
            <tr>
                <td><p><b>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].AddressLine2)</b></p></td>
                <td align="right"><p>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].FromAddressLine3)</p></td>

            </tr>
            <tr>
                <td><p><b>@System.Web.HttpUtility.HtmlDecode(Model.Letters[index].AddressLine3)</b></p></td>
                <td align="right"><p>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].FromAddressLine4)</p></td>
            </tr>
            <tr>
                <td><p><b>@System.Web.HttpUtility.HtmlDecode(Model.Letters[index].AddressLine4)</b></p></td>
                <td align="right"><p>@Model.Letters[index].FromPostCode</p></td>
            </tr>
            <tr>
                <td><p><b>@Model.Letters[index].PostCode</b></p></td>
                
                <td><p>&nbsp;</p></td>
            </tr>

            <tr>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
            </tr>
            <tr>
                <td><p>@ExportResources.SENT_DATE @Model.Letters[index].SentDate </p></td>
                <td align="right" valign="top"><p>@ExportResources.TELEPHONE @Model.Letters[index].Telephone</p></td>
            </tr>
            
            <tr>
                <td><p>&nbsp;</p></td>
                @if (String.IsNullOrEmpty(@Model.Letters[index].BCPredictEmail))
                {
                    <td><p>&nbsp;</p></td>
                }
                else
                {
                    <td align="right" valign="top"><p>@Model.Letters[index].BCPredictEmail</p></td>
                }
            </tr>
            <tr>
                <td colspan="2"><p>@ExportResources.SALUTATION @Model.Letters[index].Name,</p></td>
            </tr>

            <tr>
                <td><p>&nbsp;</p></td>
            </tr>
            </table>

            <p>@Html.Raw(@Model.Letters[index].LetterText)</p>
  


        if (index < Model.Letters.Count - 1)
        {
            <div style="page-break-after:always">

            </div>
        }

    }

</body>
</html>
