@model PROCAS2.Models.ViewModels.ExportResultsViewModel

@using PROCAS2.Models.ViewModels;
@using PROCAS2.Resources;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export Results</title>

</head>
<body>
    @for (int index = 0; index < Model.Letters.Count; index++)

    {


        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="top" rowspan="5"><img height="74" src="@String.Concat( "data:image/jpeg;base64," , ExportResources.LOGO_IMAGE )" /></td>
                <td align="right"><p class="PROCAS2_Head_Style">@ExportResources.FROM_ORG</p></td>
            </tr>
            <tr height="0" padding="0" margin-bottom="0">
                <td align="right"><p>@Model.Letters[index].FromAddressLine1</p></td>
            </tr>
            <tr>
                <td align="right"><p>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].FromAddressLine2)</p></td>

            </tr>
            <tr>
                <td align="right"><p>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].FromAddressLine3)</p></td>

            </tr>
            <tr>
                <td align="right"><p>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].FromAddressLine4)</p></td>
            </tr>
            <tr>
                <td><p>@Model.Letters[index].Name</p></td>
                <td align="right"><p>@Model.Letters[index].FromPostCode</p></td>
            </tr>
            <tr>
                <td><p>@Model.Letters[index].AddressLine1</p></td>
                <td align="right" valign="top" rowspan="5"><p>@Model.Letters[index].SentDate</p></td>

            </tr>
            <tr>
                <td><p>@System.Web.HttpUtility.HtmlDecode(@Model.Letters[index].AddressLine2)</p></td>

            </tr>
            <tr>
                <td><p>@System.Web.HttpUtility.HtmlDecode(Model.Letters[index].AddressLine3)</p></td>

            </tr>
            <tr>
                <td><p>@System.Web.HttpUtility.HtmlDecode(Model.Letters[index].AddressLine4)</p></td>

            </tr>
            <tr>
                <td><p>@Model.Letters[index].PostCode</p></td>

            </tr>
            <tr>
                <td><p>&nbsp;</p></td>
            </tr>
            <tr>
                <td colspan="2"><p>@ExportResources.SALUTATION @Model.Letters[index].Name,</p></td>
            </tr>

            <tr>
                <td><p>&nbsp;</p></td>
            </tr>

            <tr>
                <td colspan="2"><p>@Html.Raw(@Model.Letters[index].LetterText)</p></td>
            </tr>

            <tr>
                <td><p>&nbsp;</p></td>
            </tr>
            <tr>
                <td colspan="2"><p>@ExportResources.SIGN_OFF</p></td>
            </tr>
            <tr>
                <td><p>&nbsp;</p></td>
            </tr>
            <tr>
                <td colspan="2"><p>@Model.Letters[index].FromName</p></td>
            </tr>
        </table>


        if (index < Model.Letters.Count - 1)
        {
            <div style="page-break-after:always">

            </div>
        }

    }

</body>
</html>
