@model PROCAS2.Models.ViewModels.HistologyEditViewModel

@using PROCAS2.Resources
@using PROCAS2.Data.Entities

@{
    ViewBag.Title = "Edit";
}

<script src="~/js/histologyEdit.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-10">
        <h4>@HistologyResources.DETAILS - @Model.NHSNumber - @(Model.PrimaryNumber == 1 ? @HistologyResources.FIRST_PRIMARY : @HistologyResources.SECOND_PRIMARY)</h4>

    </div>

    <div class="col-md-2">
        @using (Ajax.BeginForm("Delete", "Histology", new { NHSNumber = Model.NHSNumber, primary=Model.PrimaryNumber }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onDeleteSuccess" }, new { id = "frmDelete" }))
        {
            @Html.AntiForgeryToken()
            <button type="button" id="btnDelete" class="btn btn-danger pull-right">
                @HistologyResources.DELETE
            </button>

        }

    </div>

</div>
<hr />

@if (Model.fromSave == true)
{
    <div id="divSaveChangeAlert" class="alert alert-success">
        @HistologyResources.HEADER_SAVED
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.HiddenFor(model => model.NHSNumber)
        @Html.HiddenFor(model => model.HeaderId)
        @Html.HiddenFor(model => model.PrimaryNumber)
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.DiagnosisTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DiagnosisTypeId, new SelectList(Model.DiagnosisTypes, "Id", "LookupDescription"), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiagnosisDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.DiagnosisDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.DiagnosisDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MammogramDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.MammogramDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.MammogramDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiagnosisSideId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">

                        @Html.DropDownListFor(model => model.DiagnosisSideId, new SelectList(Model.DiagnosisSides, "Id", "LookupDescription"), new { @class = "form-control" })


                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiagnosisMultiFocal, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.DiagnosisMultiFocal)
                            @Html.ValidationMessageFor(model => model.DiagnosisMultiFocal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comments, new { @class = "histologyComment" })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @if (Model.HeaderId != 0)
                {
                    <input type="submit" value="Update Header" class="btn btn-primary" name="btnSave"/>
                    <input type="submit" value="Update Header And Return" name="btnSaveAndReturn" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Create Header" class="btn btn-primary" name="btnSave" />
                    <input type="submit" value="Create Header And Return" name="btnSaveAndReturn" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
}


@if (Model.HeaderId != 0)
{
 
    
    <div class="row">
       
            <div class="histViewPanel">
                <div class="d-block bg-primary histViewPanelHeader  clearfix">
                @HistologyResources.FOCUS
                
               
                    @Html.ActionLink("Add", "EditFocus", "Histology", new { nhsnumber = Model.NHSNumber, headerId = Model.HeaderId, focusId = 0 }, new { @class = "btn btn-default pull-right" })
                
               
                </div>
                <div class="panel-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    @HistologyResources.FOCUS_NUMBER
                                </th>
                                <th>
                                    @HistologyResources.PATHOLOGY
                                </th>
                                <th>
                                    @HistologyResources.INVASIVE_CIS
                                </th>

                                <th>
                                    @HistologyResources.INVASIVE_TUMOUR_SIZE
                                </th>

                                <th>
                                    @HistologyResources.WHOLE_TUMOUR_SIZE
                                </th>

                                <th>
                                    @HistologyResources.INVASIVE_GRADE
                                </th>

                                <th>
                                    @HistologyResources.DCIS_GRADE  
                                </th>

                                <th>
                                    @HistologyResources.LYMPH_NODES_REMOVED
                                </th>

                                <th>
                                   @HistologyResources.LYMPH_NODES_POSITIVE
                                </th>

                                <th>
                                    @HistologyResources.VASCULAR_INVASION
                                </th>

                              
                                <th>
                                    @HistologyResources.ER_SCORE
                                </th>

                               
                                <th>
                                   @HistologyResources.PR_SCORE
                                </th>

                              

                                <th>
                                    @HistologyResources.HER2_SCORE
                                </th>

                                <th>
                                    @HistologyResources.TNM_STAGE
                                </th>

                                <th>
                                    @HistologyResources.KI_67
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (HistologyFocus focus in Model.HistologyFoci.OrderBy(x => x.FocusNumber))
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink("Edit", "EditFocus", "Histology", new { nhsnumber = Model.NHSNumber, headerId = Model.HeaderId,  focusId = focus.Id }, new { @class = "btn btn-default pull-right" })


                                    </td>
                                    <td>
                                        @focus.FocusNumber
                                    </td>
                                    <td>
                                        @focus.Pathology.LookupDescription
                                    </td>
                                    <td>
                                        @focus.Invasive.LookupDescription
                                    </td>

                                    <td>
                                        @focus.InvasiveTumourSize
                                    </td>

                                    <td>
                                        @focus.WholeTumourSize
                                    </td>

                                    <td>
                                        @focus.InvasiveGrade
                                    </td>

                                    <td>
                                        @focus.DCISGrade.LookupDescription
                                    </td>

                                    <td>
                                        @focus.LymphNodesRemoved
                                    </td>

                                    <td>
                                        @focus.LymphNodesPositive
                                    </td>

                                    <td>
                                        @focus.VascularInvasion.LookupDescription
                                    </td>

                                    

                                    <td>
                                        @focus.ERScore
                                    </td>

                                    

                                    <td>
                                        @focus.PRScore
                                    </td>

                                   

                                    <td>
                                        @focus.HER2Score.LookupDescription
                                    </td>

                                    <td>
                                        @focus.TNMStage.LookupDescription
                                    </td>

                                    <td>
                                        @focus.KISixtySeven
                                    </td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

 

    
}
else
{
    <div class="alert alert-info">
        @HistologyResources.CREATE_HEADER_PLEASE
    </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
