
@using PROCAS2.Resources

@{
    ViewBag.Title = "Reports Index";
}

<div class="row">
    <div class="col-md-12">

        <h3>@ReportResources.INDEX_TITLE</h3>

    </div>

</div>

<div class="row reportGroup">
    <div class="col-md-12">

        <h4>@ReportResources.STATUS_REPORTS</h4>

    </div>

    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span>@Html.ActionLink(ReportResources.INVITED_YET_TO_CONSENT, "YetToConsent", "Report")

    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span>@Html.ActionLink(ReportResources.CONSENTED_YET_TO_GET_FULL, "YetToGetFull", "Report")

    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span>@Html.ActionLink(ReportResources.GOT_VOLPARA_NOT_ASKED, "YetToAskForRisk", "Report")

    </div>

    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span>@Html.ActionLink(ReportResources.ASKED_FOR_LETTER_NOT_REC, "YetToReceiveLetter", "Report")

    </div>

    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span>@Html.ActionLink(ReportResources.GOT_LETTER_NOT_SENT, "YetToSendLetter", "Report")

    </div>

    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span>@Html.ActionLink(ReportResources.WAITING_FOR_VOLPARA, "WaitingForVolpara", "Report")

    </div>

</div>

<div class="row reportGroup">
    <div class="col-md-12">

        <h4>@ReportResources.DETAILED_REPORTS</h4>

    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink( "Patient Details", "PatientDetails", "Report", new {  }, new {  })
        
    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink("Histology", "Histology", "Report", new { }, new {  })
    </div>
    <div class="col-md-4 reportPanel">
    </div>
</div>

<div class="row reportGroup">
    <div class="col-md-12">

        <h4>@ReportResources.PATIENT_REPORTS</h4>

    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink(ReportResources.SCREENING_ATTENDANCE, "ScreeningAttendance", "Report", new { }, new { })

    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink(ReportResources.CHEMOPREVENTION, "Chemoprevention", "Report", new { }, new { })


    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink(ReportResources.NUMBER_RECALLS, "NumberRecalls", "Report", new { }, new { })
    </div>
    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink(ReportResources.SUBSEQUENT_CONSULTATION, "SubsequentConsultation", "Report", new { }, new { })
    </div>

    <div class="col-md-4 reportPanel">
        <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink(ReportResources.BC_DIAGNOSES, "BreastCancerDiagnoses", "Report", new { }, new { })
    </div>
</div>

