@model PROCAS2.Models.ViewModels.Reports.NoParameterViewModel

@using PROCAS2.Resources

@{
    ViewBag.Title = Model.Title;
}

<script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Scripts/spin.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.spin.js")"></script>
<script src="@Url.Content("~/js/reports.js")"></script>



@using (Html.BeginForm(Model.ActionName, "Report", FormMethod.Post ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Title</h4>
       
        <p>@Model.Summary </p>


        <hr />

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Run Report" id="btnSubmit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@Html.Partial("_ReportSpinner")
