@model PROCAS2.Models.ViewModels.DashboardConsentViewModel

<h4>Consent</h4>

<p>@Html.LabelFor(x => x.NumberParticipants) @Html.ActionLink(@Model.NumberParticipants.ToString(), "Invited", "Report")</p>
<p>@Html.LabelFor(x => x.NumberConsented) @Html.ActionLink(@Model.NumberConsented.ToString(), "Consented", "Report")</p>
<p>@Html.LabelFor(x => x.NumberYetToConsent) @Html.ActionLink(@Model.NumberYetToConsent.ToString(), "YetToConsent", "Report")</p>
<p>@Html.LabelFor(x => x.NumberConsentedNoDetails) @Html.ActionLink(@Model.NumberConsentedNoDetails.ToString(), "YetToGetFull", "Report")</p>