@model PROCAS2.Models.ViewModels.DashboardConsentViewModel

<h4>Consent</h4>

<p>@Html.LabelFor(x => x.NumberParticipants) @Model.NumberParticipants</p>
<p>@Html.LabelFor(x => x.NumberConsented) @Model.NumberConsented</p>
<p>@Html.LabelFor(x => x.NumberYetToConsent) @Model.NumberYetToConsent</p>
<p>@Html.LabelFor(x => x.NumberConsentedNoDetails) @Model.NumberConsentedNoDetails</p>