@model PROCAS2.Models.ViewModels.DashboardVolparaViewModel

<h4>Volpara</h4>

<p>@Html.LabelFor(x => x.NumberWaitingForVolpara) @Html.ActionLink(@Model.NumberWaitingForVolpara.ToString(), "WaitingForVolpara", "Report")</p>

<p>@Html.LabelFor(x => x.NumberWaitingForVolparaNear6Weeks)</p> @Html.ActionLink(@Model.NumberWaitingForVolparaNear6Weeks.ToString(), "WaitingForVolparaNear6Weeks", "Report")</p>

<p>@Html.LabelFor(x => x.NumberLetterNotAskedFor) @Html.ActionLink(@Model.NumberLetterNotAskedFor.ToString(), "YetToAskForRisk", "Report")</p>

